Repository actris-cloudnet/cloudnet-submit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix", "lf"]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: ^(tests/|release|setup.py)

Update example configs
  README.md
  src/cloudnet_submit/cloudnet-config-example.toml
Due: none

Update README.md
  README.md
Due: none

Fix copyright
  LICENSE
Due: none

Fix URL names
  pyproject.toml
Due: none

Cache Python dependencies in GitHub Actions
  .github/workflows/tests.yml
Due: none

Use PyPI trusted publishing
  .github/workflows/publish.yml
Due: none

Add link to the list of instruments
  README.md
  src/cloudnet_submit/cloudnet-config-example.toml
Due: none

Release version 0.0.6
  CHANGELOG.md
  src/cloudnet_submit/version.py
Due: pylint, mypy

Get current date in UTC
  src/cloudnet_submit/cfg.py
  tests/generate_testdata.py
Due: pylint, mypy

Release version 0.0.7
  CHANGELOG.md
  src/cloudnet_submit/version.py
Due: pylint, mypy

Validate `path_fmt` in config file
  src/cloudnet_submit/cfg.py
Due: pylint, mypy

Refactor date handling
  src/cloudnet_submit/cfg.py
  src/cloudnet_submit/dateutils.py
Due: pylint, mypy

Make `instrument_pid` mandatory
  src/cloudnet_submit/cfg.py
  src/cloudnet_submit/submission.py
  tests/cloudnet-config-test.toml
Due: pylint, mypy

Support monthly file submission
  src/cloudnet_submit/cfg.py
  src/cloudnet_submit/utils.py
  tests/cloudnet-config-test.toml
Due: pylint, mypy

Add `release-version` dependency
  CHANGELOG.md
  pyproject.toml
  release
Due: none

Print summary of the submitted files
  CHANGELOG.md
  src/cloudnet_submit/main.py
  src/cloudnet_submit/utils.py
Due: pylint, mypy

Update documentation
  README.md
  src/cloudnet_submit/cloudnet-config-example.toml
Due: none

Fix version file path
  pyproject.toml
Due: none

Release version 0.0.8
  CHANGELOG.md
  src/cloudnet_submit/version.py
Due: pylint, mypy

Improve documentation of configuration
  README.md
  src/cloudnet_submit/cloudnet-config-example.toml
Due: none

Release version 0.0.9
  CHANGELOG.md
  src/cloudnet_submit/version.py
Due: pylint, mypy

Update actions
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: none

Remove whitespace
  README.md
Due: none

Remove usage of `utcnow` in tests
  tests/generate_testdata.py
Due: pylint

Support brace expansion in `path_fmt`
  pyproject.toml
  src/cloudnet_submit/cloudnet-config-example.toml
  src/cloudnet_submit/utils.py
  tests/cloudnet-config-test.toml
  tests/generate_testdata.py
Due: pylint, mypy

Adjust output and status code if submissions fail
  src/cloudnet_submit/main.py
  src/cloudnet_submit/utils.py
Due: pylint, mypy

Test with Python 3.12 and 3.13
  .github/workflows/tests.yml
  pyproject.toml
Due: none

Update pre-commit checks
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  src/cloudnet_submit/__init__.py
  src/cloudnet_submit/cfg.py
  src/cloudnet_submit/submission.py
  tests/conftest.py
Due: pylint, mypy

Release version 0.1.0
  CHANGELOG.md
  src/cloudnet_submit/version.py
Due: pylint, mypy

Fix publish workflow
  .github/workflows/publish.yml
Due: none
